<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <!--<h1>Welcome to {{ title }}!</h1>
      <p>Current time: {{ currentTime | date:'short' }}</p>
      <p>Current date: {{ currentDate | date:'fullDate' }}</p>
      <p>Current time in UTC: {{ currentTime | date:'short':'UTC' }}</p>
      <p>Current date in UTC: {{ currentDate | date:'fullDate':'UTC' }}</p>-->
      <h3>I'm in the AppComponent</h3>
      <hr>
      <app-servers></app-servers>
    </div>
  </div>
</div>
